<html>

<body>

<div style="width: 555.28px; margin: auto;">
    <div class="printbg"></div>
    <div id="printArea">
        <div class="adjustEnd">
            <div class="tableTitle">评估基本信息表</div>
            <div class="tableInfo">
                <div class="topTwo"><span>评估编号</span><span>$assessNum</span></div>
                <div class="topTwo"><span>评估日期</span><span>$createTime</span></div>
                <div class="topTwo"><span>评估原因</span><span>$assessReason</span></div>
            </div>
            <div class="tableTitle">被评估者基本信息表</div>
            <div class="tableInfo">
                <div class="topTwo"><span>姓名</span><span>$olderName</span></div>
                <div class="topTwo"><span>性别</span><span>$olderSex</span></div>
                <div class="topTwo"><span>出生日期</span><span>$olderBirthday</span></div>
                <div class="topTwo"><span>证件号</span><span>$idNumber</span></div>
                <div class="topTwo"><span>社保卡号</span><span>$securityNumber</span></div>
                <div class="avatar"><img src= $image alt="" class="avatarImg"></div>
                <div class="twoUnit">
                    <div><span>民族</span><span>$nation</span><span>文化程度</span><span>$cultureLevel</span></div>
                    <div><span>宗教信仰</span><span>$religion</span><span>婚姻状况</span><span>$maritalStatus</span></div>
                </div>
                <div class="moreLines threeLines">
                    <div class="oneLeft">疾病诊断</div>
                    <div class="oneRight">
                        <div><span>痴呆</span><span>$dementiaLevel</span></div>
                        <div><span>精神疾病</span><span>$mentalDisease</span></div>
                        <div>
                            <span>慢性疾病</span><span>$chronicDisease</span>
                        </div>
                    </div>
                </div>
                <div class="moreLines fiveLines">
                    <div class="oneLeft">近30天意外事件</div>
                    <div class="oneRight">
                        <div><span>跌倒</span><span>$fallIntime <em>次</em></span></div>
                        <div><span>走失</span><span>$lostIntime <em>次</em></span></div>
                        <div><span>噎食</span><span>$chokeIntime <em>次</em></span></div>
                        <div><span>自杀</span><span>$suicideIntime <em>次</em></span></div>
                        <div><span>其他</span><span>$recentRemark</span></div>
                    </div>
                </div>
            </div>
            <div class="tableTitle">信息提供者及联系人信息</div>
            <div class="tableInfo">
                <div class="topTwo"><span>信息提供者的姓名</span><span>$providerName</span></div>
                <div class="topTwo"><span>信息提供者与老人的关系</span><span>$providerRelation</span></div>
                <div class="topTwo"><span>联系人姓名</span><span>$linkmanName</span></div>
                <div class="topTwo"><span>联系人电话</span><span>$linkmanNamePhone</span></div>
                <div class="topTwo"><span>特殊事项记录</span><span>$linkmanRemake</span></div>
            </div>
        </div>

        #if($!{lifeList})
            <div class="adjustEnd">
                <div class="adjustEnd">
                    <div class="tableTitle" style="margin-top: 70px;margin-bottom: 0">能力评估详情表</div>
                    <div class="tableInfo detailTable">
                        <div class="moreLines detailtwelveLines">

                            <div class="oneLeft">日常生活活动</div>
                            <div class="oneRight">
                                #foreach( $life in $lifeList)
                                    <div><span>$life.questionNum</span><span>$life.questionScore <em>分</em></span><span>$life.questionAnswer</span>
                                    </div>
                                #end
                                <div><span>B.1.11日常生活活动总分</span><span>$B111 <em>分</em></span><span></span></div>
                                <div><span>B.1日常生活活动分级</span><span>$lifeLevel <em>级</em></span><span>$lifeLevelInfo</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tableInfo detailTable" style="margin-top: 70px;">
                        <div class="moreLines detailfiveLines">
                            <div class="oneLeft">精神状态</div>
                            <div class="oneRight">
                                #foreach( $mind in $mindList)
                                    <div><span>$mind.questionNum</span><span>$mind.questionScore <em>分</em></span><span>$mind.questionAnswer</span>
                                    </div>
                                #end
                                <div><span>B.2.4精神状态总分</span><span>$B24 <em>分</em></span><span></span></div>
                                <div><span>B.2精神状态分级</span><span>$mindLevel <em>级</em></span><span>$mindLevelInfo</span></div>
                            </div>
                        </div>
                        <div class="moreLines detailfiveLines">
                            <div class="oneLeft undefined" style="height: 136px;">感知觉与沟通</div>
                            <div class="oneRight">
                                #foreach( $talk in $talkList)
                                    <div><span>$talk.questionNum</span><span>$talk.questionScore <em>分</em></span><span>$talk.questionAnswer</span>
                                    </div>
                                #end
                                <div><span>B.3感知觉与沟通分级</span><span>$talkLevel</span><span>$talkLevelInfo</span></div>
                            </div>
                        </div>
                        </div>
                        <div style="width: 10px; height: 200px;"></div>
                        <div class="tableInfo detailTable">
                        <div class="moreLines detailsevenLines">
                            <div class="oneLeft">社会参与</div>
                            <div class="oneRight">
                                #foreach( $social in $socialList)
                                    <div>
                                        <span>$social.questionNum</span><span>$social.questionScore <em>分</em></span><span>$social.questionAnswer</span>
                                    </div>
                                #end
                                <div><span>B.4.6社会参与总分</span><span>$B46 <em>分</em></span><span></span></div>
                                <div><span>B.4日常生活活动分级</span><span>$socialLevel <em>级</em></span><span>$socialLevelInfo</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        #end

        <div class="tableTitle" style="margin-top: 350px; margin-bottom: 0px;">老年人能力评估报告</div>
        <div class="adjustEnd">
            <div class="tableInfo">
                <div class="topOne">
                    <div class="oneLeft">一级指标分级</div>
                    <div class="oneRight">
                        <div><span>日常生活活动: <em>$lifeLevelInfo</em></span><span>精神状态: <em>$mindLevelInfo</em></span>
                        </div>
                        <div><span>感知觉与沟通: <em>$talkLevelInfo</em></span><span>社会参与: <em>$socialLevelInfo</em></span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="topTwo"><span>老年人能力初步等级</span><span>$checkBeforeLevel</span></div>
                    <div class="topTwo"><span>等级变更条款</span><span>$changeLevelRemark</span></div>
                </div>
                <div class="topTwo"><span>老年人能力最终等级</span><span>$checkAfterLevel</span></div>
                <div class="signal">
                    <div class="dateinfo">
                        <div><span>执行评估员签名：</span><span class="names"></span></div>
                        <div><span class="names"></span><span>年</span><span class="names"></span><span>月</span><span
                                class="names"></span><span>日</span></div>
                    </div>
                    <div class="dateinfo">
                        <div><span>信息提供者签名：</span><span class="names"></span></div>
                        <div><span class="names"></span><span>年</span><span class="names"></span><span>月</span><span
                                class="names"></span><span>日</span></div>
                    </div>
                </div>
                <div style="padding: 10px;">
                    <p> 注：老人能力初步等级划分标准：</p>
                    <p>0 能力完好</p>
                    <p> 日常生活活动、精神状态、感知觉与沟通分级均为0，社会参与分级为0或1</p>
                    <p> 1 轻度失能</p>
                    <p> 日常生活活动分级为 0，但精神状态、感知觉与沟通中至少一项分级为1及以上，或社会参与的分级为2；</p>
                    <p> 或日常生活活动分级为1，精神状态、感知觉与沟通、社会参与中至少有一项的分级为0或1</p>
                    <p>2 中度失能</p>
                    <p> 日常生活活动分级为1，但精神状态、感知觉沟通、社会参与均为2，或有一项为3；</p>
                    <p> 或日常生活活动分级为2，且精神状态、感知觉与沟通、社会参与中有1~2项的分级为1或2</p>
                    <p> 3 重度失能</p>
                    <p> 日常生活活动的分级为3；</p>
                    <p> 或日常生活活动、精神状态、感知觉与沟通、社会参与分级均为2；</p>
                    <p> 或日常生活活动分级为2，且精神状态、感知觉与沟通、社会参与中至少有一项分级为3</p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
        * {
      page-break-before: always;
      page-break-after: always;
      page-break-inside: avoid;
    }

    span {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .special180 {
      margin-top: 180px !important;
    }

    .header {
      display: flex;
      border-bottom: 1px solid #efefef;
    }

    .header div {
      margin-left: 10px;
      padding-left: 20px;
      padding-right: 20px;
      height: 40px;
      line-height: 40px;
      border: 1px solid #efefef;
      border-radius: 10px 10px 0 0;
      color: black;
      background-color: lightgray;
    }

    .header div.select {
      background-color: #fff;
      border: 1px solid #efefef;
      border-bottom: none;
      color: black;
    }

    .tableTitle {
      color: black;
      font-size: 17px;
      padding-left: 10px;
      margin-bottom: 10px;
      margin-top: 10px;
      page-break-before: always;
      page-break-after: always;
      page-break-inside: avoid;
    }

    .adjustEnd {
      font-size: 8px;
      display: flex;
      flex-direction: column;
    }

    .adjustEnd .avatarImg {
      height: 85px;
      width: 80px;
      margin-top: 14px;
    }

    .adjustEnd .tableTitle {
      color: black;
      font-size: 17px;
      padding-left: 10px;
      margin-bottom: 10px;
      margin-top: 10px;
      page-break-before: always;
      page-break-after: always;
      page-break-inside: avoid;
    }

    .adjustEnd .tableInfo {
      border: 1px solid black;
      margin: 10px 5px;
      position: relative;
      display: inline-flex;
      width: 97%;
      flex-direction: column;
    }

    .adjustEnd .tableInfo .feng {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .adjustEnd .tableInfo .feng .oneLeft {
      display: inline-flex;
      width: 300px;
      border-right: 1px solid black;
      align-items: center;
      height: 88px;
      justify-content: center;
      border-bottom: 1px solid black;
    }

    .adjustEnd .tableInfo .feng .oneRight {
      flex: 3 1;
      display: inline-flex;
      flex-direction: column;
      height: 100%;
      border-bottom: 1px solid black;
    }

    .adjustEnd .tableInfo .feng .oneRight>div {
      display: inline-flex;
      width: 100%;
      flex-direction: row;
    }

    .adjustEnd .tableInfo .feng .oneRight>div .smallFen {
      display: inline-flex;
      flex-direction: column;
      flex: 1 1;
    }

    .adjustEnd .tableInfo .feng .oneRight>div .smallFen span {
      display: inline-flex;
      flex: 1 1;
      border-right: 1px solid black;
    }

    .adjustEnd .tableInfo .feng .oneRight>div .smallFen span:first-child {
      font-weight: bold;
      border-bottom: 1px solid black;
    }

    .adjustEnd .tableInfo .feng .oneRight>div .smallFen:last-child span {
      border-right: 0;
    }

    .adjustEnd .tableInfo .feng .oneRight>div:first-child {
      border-bottom: 1px solid black;
    }

    .adjustEnd .tableInfo .avatar {
      position: absolute;
      right: 0;
      top: 0;
      height: 109px;
      background-color: white;
      border-left: 1px solid black;
      border-bottom: 1px solid black;
      padding: 10px;
    }

    .adjustEnd .tableInfo .moreLines {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      page-break-before: always;
      page-break-after: always;
      page-break-inside: avoid;
    }

    .adjustEnd .tableInfo .moreLines .oneLeft {
      display: inline-flex;
      width: 153px;
      border-right: 1px solid black;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid black;
    }

    .adjustEnd .tableInfo .moreLines .oneRight {
      flex: 3 1;
      display: inline-flex;
      flex-direction: column;
      height: 100%;
      border-bottom: 1px solid black;
    }

    .adjustEnd .tableInfo .moreLines .oneRight>div {
      display: flex;
      border-bottom: 1px solid black;
    }

    .adjustEnd .tableInfo .moreLines .oneRight>div>span {
      display: block;
      flex: 1 1;
      padding: 3px 10px;
    }

    .adjustEnd .tableInfo .moreLines .oneRight>div>span:first-child {
      width: 45%;
      border-right: 1px solid black;
    }

    .adjustEnd .tableInfo .moreLines .oneRight>div>span:nth-of-type(3n) {
      border-left: 1px solid black;
    }

    .adjustEnd .tableInfo .moreLines .oneRight>div:last-child {
      border-bottom: 0;
    }

    .adjustEnd .tableInfo .fiveLines .oneLeft {
      height: 119px;
    }

    .adjustEnd .tableInfo .threeLines .oneLeft {
      height: 71px;
    }

    .adjustEnd .tableInfo .twelveLines .oneLeft {
      height: 321px;
    }

    .adjustEnd .tableInfo .fourLines .oneLeft {
      height: 168px;
    }

    .adjustEnd .tableInfo .sevenLines .oneLeft {
      height: 201px;
    }

    .adjustEnd .tableInfo .topOne {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .adjustEnd .tableInfo .topOne .oneLeft {
      display: inline-flex;
      width: 121px;
      border-right: 1px solid black;
      align-items: center;
      height: 47px;
      justify-content: center;
      border-bottom: 1px solid black;
    }

    .adjustEnd .tableInfo .topOne .oneRight {
      flex: 3 1;
      display: inline-flex;
      flex-direction: column;
      height: 100%;
      border-bottom: 1px solid black;
    }

    .adjustEnd .tableInfo .topOne .oneRight>div {
      display: flex;
    }

    .adjustEnd .tableInfo .topOne .oneRight>div>span {
      display: flex;
      padding: 3px 10px;
    }

    .adjustEnd .tableInfo .topOne .oneRight>div>span>em {
      display: inline-block;
      padding-left: 10px;
      font-style: normal;
    }

    .adjustEnd .tableInfo .topOne .oneRight>div>span:first-child {
      width: 45%;
      border-right: 1px solid black;
    }

    .adjustEnd .tableInfo .topOne .oneRight>div:first-child {
      border-bottom: 1px solid black;
    }

    .adjustEnd .tableInfo .topTwo {
      display: inline-flex;
      flex-direction: row;
      width: 100%;
      height: 25px;
      border-bottom: 1px solid black;
      page-break-before: always;
      page-break-after: always;
      page-break-inside: avoid;
    }

    .adjustEnd .tableInfo .topTwo span {
      display: inline-flex;
      padding: 0 10px;
      align-items: center;
      justify-content: center;
      page-break-before: always;
      page-break-after: always;
      page-break-inside: avoid;
    }

    .adjustEnd .tableInfo .topTwo span:first-child {
      width: 153px;
      height: 25px;
      border-right: 1px solid black;
      page-break-before: always;
      page-break-after: always;
      page-break-inside: avoid;
    }

    .adjustEnd .tableInfo .twoUnit div {
      display: flex;
    }

    .adjustEnd .tableInfo .twoUnit div :last-child {
      border-right: none;
    }

    .adjustEnd .tableInfo .twoUnit div :first-child {
      width: 412px !important;
    }

    .adjustEnd .tableInfo .twoUnit span {
      display: block;
      width: 345px;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      height: 25px;
      line-height: 25px;
      text-align: center;
    }

    .adjustEnd .tableInfo .signal {
      border-bottom: 1px solid black;
      padding: 20px;
      padding-bottom: 0;
      justify-content: space-between;
      flex-direction: row;
    }

    .adjustEnd .tableInfo .signal .dateinfo {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }

    .adjustEnd .tableInfo .signal .dateinfo>div span {
      display: inline-flex;
    }

    .adjustEnd .tableInfo .signal .dateinfo>div span.names {
      border-bottom: 1px solid black;
      min-width: 75px;
    }

    .adjustEnd .btns {
      padding: 15px;
      width: 100%;
      text-align: center;
    }

    .detailTable .oneRight div {
      display: flex;
    }

    .detailTable .moreLines .oneRight div span {
      height: 57px;
    }

    .detailTable .moreLines .oneRight  div span:first-of-type {
      flex: 1;
    }

    .detailTable .moreLines .oneRight div span:nth-of-type(2n) {
      flex: 1;
    }

    .detailTable .moreLines .oneRight  div span:nth-of-type(3n) {
      flex: 3;
    }

    .detailTable .moreLines .oneLeft {
      width: 95px !important;
    }

    .detailTable .detailtwelveLines .oneLeft {
      height: 767px !important;
    }

    .detailTable .detailfiveLines .oneLeft {
      height: 319px !important;
    }

    .detailTable .detailsevenLines .oneLeft {
      height: 447px !important;
    }

    .printbg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #fff;
      z-index: 99999;
    }
</style>
<script src=http://test.cybqd.com/html2canvas.js></script>
<script src=http://test.cybqd.com/jsPdf.debug.js>
</script>
<script src=http://test.cybqd.com/print.js></script>
<script>
    window.onload = function () {
        printPage('老年人能力等级评估')
    }
</script>

</body>

</html>